<p class="title">freshly baked</p>
<% _.each(projects, function(project) { %>
	<div class="project">
		<div class="wrapper">
			<div style="background-image:url('<%= project.image %>')" class="cover">
				<div class="text <%= project.theme %>">
					<p class="pj_title"><%= project.title %></p>
					<p class="pj_date"><%= project.date %></p>
				</div>
			</div>
			<div class="description">
				<p><%= project.role %></p>
				<p><%= project.company %></p>
				<p><%= project.desc %></p>
			</div>
		</div>
	</div>
<% }); %>